DATABASE_URL="mysql://DB_USER:DB_PASSWORD@localhost:3306/smart_wallet"
AUTH_SECRET=""
LOGIN_USER=""
LOGIN_PASSWORD=""
AUTH_TRUST_HOST="true"
UPLOAD_DIR="./uploads"
MAX_UPLOAD_MB="5"
RUN_DB_SETUP="false"
